input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    background-color: #1d2229;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    font-family: 'inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    max-height: 900px;
    border-radius: 10px;
    overflow: hidden;

}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    background-color: #6943FF;
    width: 100%;
    padding: 20px 0px;
}

.lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 55%;
    background-color: #1F2937;
    width: 100%;
    padding: 20px 0px;
}

input{
    width: 120px;
    height: 80px;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid #B295FF;
    border-radius: 10px;
    color: white;
}

button {
    width: 125px;
    height: 42px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    
}

.conversion-box {
    background-color: #273549;
    width: 80%;
    line-height: 1px;
    border-radius: 10px;
    padding: 5px 10px;

}

.conversion-box p{
    line-height: 25px;
}

h4 {
    font-weight: semi-bold;
    color: #CCC1FF;
}

.footer {
    height: 5%;
    bottom: 10px;
    font-size: 12px;
    color: #888888;
    background-color: rgb(27, 27, 27);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #B295FF;
    color: white;
    cursor: pointer;
    border: 2px solid #B295FF;
}